@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('..//..//fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),  
    url('..//..//fonts/PlayfairDisplay-Regular.woff') format('woff'), 
    url('..//..//fonts/PlayfairDisplay-Regular.ttf')  format('truetype'), 
    url('..//..//fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('..//..//fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
    url('..//..//fonts/Lato-Regular.woff') format('woff'), 
    url('..//..//fonts/Lato-Regular.ttf')  format('truetype'), 
    url('..//..//fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CalifornianFB-Reg';
  src: url('..//..//fonts/CalifornianFB-Reg.eot?#iefix') format('embedded-opentype'),  
    url('..//..//fonts/CalifornianFB-Reg.woff') format('woff'), 
    url('..//..//fonts/CalifornianFB-Reg.ttf')  format('truetype'), 
    url('..//..//fonts/CalifornianFB-Reg.svg#CalifornianFB-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('..//..//fonts//icomoon//fonts/icomoon.eot?xiz5hj');
  src:  url('..//..//fonts//icomoon//fonts/icomoon.eot?xiz5hj#iefix') format('embedded-opentype'),
    url('..//..//fonts//icomoon//fonts/icomoon.ttf?xiz5hj') format('truetype'),
    url('..//..//fonts//icomoon//fonts/icomoon.woff?xiz5hj') format('woff'),
    url('..//..//fonts//icomoon//fonts/icomoon.svg?xiz5hj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}