
@font-face {
  font-family: 'CalifornianFB-Reg';
  src: url('CalifornianFB-Reg.eot?#iefix') format('embedded-opentype'),  url('CalifornianFB-Reg.woff') format('woff'), url('CalifornianFB-Reg.ttf')  format('truetype'), url('CalifornianFB-Reg.svg#CalifornianFB-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}
